bin/
obj/
.vs/
.omx/
*.user
*.suo
desktop-debug.png
*.trigger
crop_*.png
screenshot_chrono_*.png
screenshot_home_*.png
screenshot_style*.png
screenshot_transition.png
screenshot_music_*.png
pill_screenshot_*.png
